{
  email ops@example.invalid
}

:80 {
  redir https://{host}{uri}
}

https://{$APP_HOSTNAME} {
  encode zstd gzip
  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"
    Referrer-Policy "strict-origin-when-cross-origin"
  }

  handle_path /api/* {
    reverse_proxy api:3001
  }

  reverse_proxy web:3000
}
